@(article: Article)

@main("AquaHub") {
<h5>AquaHub</h5>
<div class="container" style="overflow: hidden;">

  <div class="row">
    <div id="main" class="nine columns">
        @if(article.imageUrl.isDefined) {
            <div id="image_container"><a href="@article.url"><img id=top_image src="@article.imageUrl.get" alt="@article.body" title="@article.body"></a></div>
        }
        <div><a href="@article.url"><span>@article.title</span></a></div>
        <div><a class="button button-primary u-full-width" href="@article.url"><span>記事を読む</span></a></div>
        <div><span>コメント</span></div>
    </div>
    <div id="side" class="three columns">Three</div>
  </div>
</div>
}
