@(articles: Seq[Article])

@main("AquaHub") {
<h5>AquaHub</h5>
  <div class="container" style="overflow: hidden;">

    <div class="row">
      <div id="main" class="nine columns">
        <span>新着記事</span>
        <ul style="list-style: none;">

        @for(article <- articles) {

          @if(article.imageUrl.isDefined) {

            <li><a href="/article/@article.articleId"><div style="width: 80%;">@article.title</div>
                <img name=list_image style="display:none;" class="u-pull-right" src="@article.imageUrl.get" alt="article.body" title="article.body">
            </a></li>
          } else {

            <li><a href="/article/@article.articleId"><div>@article.title</div>

            </a></li>
          }
        }
        </ul>
      </div>

      <div id="side" class="three columns">AD</div>
    </div>
  </div>
}
