@(articles: Seq[Article])

@main("AquaHub") {
<h5>AquaHub</h5>
  <div class="container" style="overflow: hidden;">

    <div class="row">
      <div id="main" class="nine columns">
        <span>新着記事</span>

        @for(article <- articles) {
          <div>
          @if(article.imageUrl.isDefined) {

            <a href="/article/@article.articleId">
              <div class="main_left">@article.title</div>
              <div class="main_right"><img name=list_image src="@article.imageUrl.get" alt="article.body" title="article.body"></div>
              <div class="u-cf"></div>
            </a>
          } else {

            <a href="/article/@article.articleId"><div>@article.title</div>

            </a>
          }
          </div>
        }
      </div>

      <div id="side" class="three columns">AD</div>
    </div>
  </div>
}
